.add-property-container {
  .form_wrap {


    .form_row {

    }

    .form_buttons {
      .btn-add {
        max-width: 100%;
      }
    }
  }
}

.no-result {
  width: 100%;
  background: white;
  padding: 5rem;
}